rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'admin@notebookkit.com';
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }

    match /kits/{kitId} {
      allow read: if resource.data.status == 'published' || (isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin()));
      allow write: if isAdmin();
    }

    match /kits_content/{kitId} {
      allow read: if isSignedIn() && (get(/databases/$(database)/documents/kits/$(kitId)).data.userId == request.auth.uid || isAdmin());
      allow write: if isAdmin();
    }

    match /user_kits/{accessId} {
      allow read: if isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin());
      allow write: if isAdmin();
    }

    match /kit_categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /requests/{requestId} {
      allow create: if isSignedIn();
      allow read, write: if isAdmin() || (isSignedIn() && resource.data.userId == request.auth.uid);
    }
  }
}
